# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic
#

rsource "*/Kconfig"

config MBEDTLS_USER_CONFIG_FILE
	default "atm-mbedtls-config.h" if ATM_AES_HW || ATM_SHA2_HW || ATM_UECC
