# Copyright (c) 2024-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_PMU
	bool "Atmosic Power Management Unit module"
	default y if ATM_ATLC
	default y if DTOP_BYPASS
	default y if ENTROPY_ATM_TRNG
	default y if PM
	default y if ATM_BROWNOUT
	default y if ATM_RESET

config PMU_WDOG_TIMEOUT
	int "PMU watchdog timeout"
	default 0
	help
	   A value of 0 implies 1 sec.
	   A value of 1 implies 32 sec.
