# Copyright (c) 2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_GFP
	bool "Atmosic Google Fast Pair Library"
	select ATM_SETTINGS
	select ATM_GFPS
	select ATM_GFP_DIRECT_UECC_INTERFACE

if ATM_GFP
module = ATM_GFP
module-str = atm_gfp
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

config ATM_GFP_MUTLIMODE_TAG
	bool "Enable Atmosic Google Fast Pair as once of Multimode Tag"

config FAST_PAIR_FORCE_UNPAIR_ALL_BT_ID
	bool "Force unpair all BT_IDs when button reset"
	help
	  Force unpair all BT_IDs when button reset. Default only unpair Fast Pair related BT_IDs.

endif # ATM_GFP
