# Copyright (c) 2021-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_ATM33

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 16000000

config NUM_IRQS
	int
	default 128

config HW_STACK_PROTECTION
	default y

endif # SOC_SERIES_ATM33
