# Copyright (c) 2021-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_ATM33

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 16000000

config NUM_IRQS
	int
	default 128

config HW_STACK_PROTECTION
	default y

config CORTEX_M_NULL_POINTER_EXCEPTION_PAGE_SIZE
	hex "Size of paged unmapped to implement null pointer detection"
	default $(dt_nodelabel_reg_size_hex,rom_null_page)
	depends on $(dt_nodelabel_exists,rom_null_page)
	depends on NULL_POINTER_EXCEPTION_DETECTION_MPU

endif # SOC_SERIES_ATM33
