# Copyright (c) 2024-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_TZ_PPC
	bool "Atmosic TrustZone Peripheral Protection Controller module"
	default y if TRUSTED_EXECUTION_SECURE
	depends on DT_HAS_ATMOSIC_SEC_TZ_ENABLED
