# Copyright (c) 2024 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_SPI
	bool "Atmosic SPI module"
	default y if TRUSTED_EXECUTION_NONSECURE && (SOC_FLASH_ATM || BT || ENTROPY_ATM_TRNG || PM || ADC)
	default y if TRUSTED_EXECUTION_SECURE && !BOOTLOADER_MCUBOOT
