# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_HW_CFG_ALLOW_INVALID_ATE
	bool "Assert on invalid ATE data when false"
	default y if ATM_IS_FOR_SIM

config ATM_HW_CFG
	bool "Atmosic Hardware Config module"
	default y if ATM_ATLC
	default y if DTOP_BYPASS
	default y if ENTROPY_ATM_TRNG
	default y if PM
	default y if ATM_BROWNOUT

config ATM_MAX_TX_POWER_DBM
	int "Maximum TX power possible on this chip, in dBm"
	default 10
