# Copyright (c) Atmosic 2024-2025
#
# SPDX-License-Identifier: Apache-2.0

config ATM_KEY_SIDELOAD
	bool "Atmosic Key sideloading driver"
	depends on TRUSTED_EXECUTION_SECURE
	depends on DT_HAS_ATMOSIC_SEC_SIDELOAD_KEYS_ENABLED
