# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic
#

config ATM_RESET
	bool "Atmosic Reset module"
	default y if ATM_ATLC
	default y if ATM_RWLC
	default y if DTOP_BYPASS
	default y if ENTROPY_ATM_TRNG
	default y if PM
	default y if ATM_BROWNOUT

config RESET_PRINT
	bool "Log reset reason on boot"
	default y if !MCUBOOT
