# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic
#

config ATM_PC_CTR
	bool "Atmosic pc_ctr module"
	default y if ATM_BLE
	select ATM_UECC if ATM_LL_ECC_SUPPORT
	select ATM_UECC_VLI_API if ATM_LL_ECC_SUPPORT
	select ATM_UECC_SUPPORTS_SECP160R1 if ATM_LL_ECC_SUPPORT
	select ATM_UECC_SUPPORTS_SECP192R1 if ATM_LL_ECC_SUPPORT
	select ATM_UECC_SUPPORTS_SECP256R1 if ATM_LL_ECC_SUPPORT
	select ATM_UECC_SUPPORTS_SECP256K1 if ATM_LL_ECC_SUPPORT
	depends on ATM_ATLC

if ATM_PC_CTR
config ATM_MAX_ADV_DATA_LEN
	int "Override max adv data length"
	default 0

config ATM_MAX_SCAN_DATA_LEN
	int "Override max scan data length"
	default 0

config ATM_CLKPPM
	int "Override clkppm"
	default 500 if ATM_LPC_RCOS
	default 0

config ATM_MAX_ADV_SET
	int "Override max adv set"
	default 0

config ATM_PC_HIGH_THD
	int "Override power control high threshold"
	default 0

config ATM_PC_LOW_THD
	int "Override power control low threshold"
	default 0

config ATM_LL_HEAP_SIZE
	int "LL heap size"
	default 30000 if ATM_ENA_LL_FEAT_CS && ATMWSTK_PD50
	default 24000 if ATMWSTK_PD50
	default 80572

config ATM_ENA_DBG_PC_CTR_MEM_USAGE
	bool "Show pc_ctr memory usage information"

config ATM_PC_FSU_ACL_IFS_MIN
	int "Override minimum value of frame space update ACL IFS"
	default 0

config ATM_PC_FSU_CIS_IFS_MIN
	int "Override minimum value of frame space update CIS IFS"
	default 0

config ATM_DTM_PACKET_INTERVAL
	int "Override packet interval in DTM mode (slots, 0 = no override, 1 slot = 625us)"
	default 0

config ATM_ENA_BLE_CS_MANDATORY_TIMING_ONLY
	bool "Use channel sounding mandatory timing only"

config ATM_ENA_SCAN_RANDOM_BACKOFF
	bool "Enable scan random backoff"
	default y

config ATM_ENA_CONN_PARAM_REQ_PROC
	bool "Enable connection parameters request procedure"
	default y

config ATM_ENA_BLE_CS_DBG_VECTOR
	bool "Enable channel sounding debug vector"

config ATM_ENA_BLE_CS_TEST_UNSYNC_MODE
	bool "Enable channel sounding test unsync mode"

config ATM_MAX_ACL_TXBUF_SIZE
	int "Override max value of ACL Tx buffer size"
	default BT_BUF_ACL_TX_SIZE if BT_RAS
	default 0

config ATM_BLE_CS_SYNC_PHY_2M_ENABLE
	bool "Enable 2M PHY for Channel Sounding Sync exchanges"
	default y

config ATM_BLE_CS_SYNC_PHY_2M_BT2_ENABLE
	bool "Enable 2M BT 2.0 PHY for Channel Sounding Sync exchanges"
	default y

config ATM_BLE_CS_NUM_CONFIG_SUP
	int "Number of Channel Sounding configurations supported"
	default 1

config ATM_LL_MAX_CONN
	int "Link layer max connections"
	default BT_MAX_CONN if BT_CONN
	default 0
	help
	  Maximum number of connections supported by the link layer.

config ATM_ENA_LL_VS_CMD
	bool "Enable LL basic VS command support"

config ATM_BT_VER
	int "Override BT version"
	default 0

endif # ATM_PC_CTR
