# Copyright (c) 2023-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_BLE
    bool "Atmosic BLE driver"
    default y
    depends on BT
    select ATM_RWLC
    select ATM_EUI
    select ATM_BTHCI_UTILS
    select MBEDTLS

config ATM_RWLC
    bool "Atmosic RWLC driver"
    default y if BT || ENTROPY_ATM_TRNG
    depends on DT_HAS_ATMOSIC_BLE_ENABLED

if ATM_RWLC

config EXT_WAKEUP_ENABLE_INDEFINITE
	bool "Set EXT_WAKEUP_ENABLE to 0x02"

config EXT_WAKEUP_ENABLE
	int "EXT WAKEUP ENABLE"
	default 2 if EXT_WAKEUP_ENABLE_INDEFINITE
	default 1
	help
	   0x00: Timer and software wakeup only
	   0x01: External (from PSEQ) wakeup enabled with limited timeout
	   0x02: External wakeup enabled with no maximum sleep duration

config ATM_BLE_DRIVER_SLEEP
	bool "Atmosic BLE driver sleep"
	default y

config ATM_SLEEP_ENABLE
	int "Sleep enable value"
	default 2 if ATM_BLE_DRIVER_SLEEP
	default 0

config ATM_SLEEP_ADJ
	int "Sleep adjustment value"
	default 0

choice ATM_WIRELESS_STACK_CHOICE
	prompt "BLE link layer wireless stack flavor"
	default ATMWSTK_PD50

config ATMWSTK_PD50
	bool "PD50 link controller"

config ATMWSTK_FULL
	bool "Full link controller"

endchoice

endif
