# Copyright (c) 2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config POWER_OFF_SBRK
	bool "Power off unused SRAM during retention"
	default y if NEWLIB_LIBC
	depends on PM

config ATM_SOCOFF_DURATION_SEC
	int "SOC off duration in seconds"
	depends on PM
	default 0
	help
	Override SOC off duration. Can be used to poke PMU watchdog for non-timer based
	soc off wakeup configuration (LPCOMP, GPIO).
