# Copyright (c) 2024 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

if SOC_ATM33XX_5

rsource "drivers/Kconfig"

if TRUSTED_EXECUTION_SECURE

config SOC_RESET_HOOK
	# if bootloader is set and the SPE, leave bp_init to MCUBOOT
	default n if BOOTLOADER_MCUBOOT && ARM_FIRMWARE_HAS_SECURE_ENTRY_FUNCS
	default y

endif # TRUSTED_EXECUTION_SECURE

endif # SOC_ATM33XX_5
