# Copyright (c) 2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

rsource "fmdn/Kconfig"

menuconfig ATM_GFPS
    bool "Google Fast Pair Service (GFPS)"
    depends on BT
    select ATM_GFP_CRYPTO
    select APP_WORK_Q
    select BT_PRIVACY
    select BT_RPA_TIMEOUT_DYNAMIC
    select BASE64
    help
	"Google Fast Pair Service (GFPS)"

if ATM_GFPS

rsource "Kconfig.logging"

config FAST_PAIR_MAX_ACCOUNT_KEY_COUNT
    int "account key number support"
    default 5

config FAST_PAIR_MODEL_ID
    hex "Google Fast Pair Model ID"
    default 0x1A7331

config FAST_PAIR_AS_KEY
    string "Google Fast Pair Anti-Spoofing key"
    default "wLhpDl6Z4da3v/s1/AA32ZUtvMUkgtmPTCy5weMIDrs="

config FAST_PAIR_USER_PAIR_BT_ADDR
    bool "Enable user to specify Google Fast Pair Static Random BT Address"

config FAST_PAIR_PAIR_BT_ADDR
    string "Google Fast Pair Static Random BT Address, must in mac address format"
    depends on FAST_PAIR_USER_PAIR_BT_ADDR
    default "E5:C4:11:11:11:11"

config FAST_PAIR_STORAGE_DEBUG_EN
    bool "enable storage debug"
    default n

config FAST_PAIR_FMDN
    bool "Find My Device Network extension for Fast Pair"
    default y
    select ATM_FMDN
    help
	Enable Find My Device Network (FMDN) extension for Fast Pair.

config FAST_PAIR_FMDN_DULT
    bool "Enable Detecting Unwanted Location Trackers (DULT) support in FMDN"
    default y
    select ATM_DULT
    help
	See https://www.ietf.org/archive/id/draft-detecting-unwanted-location-trackers-01.html#name-applicability.

config FP_FMDN_PROVISION_EN_FP_ADV
    bool "Enable remaining Fast Pair advertisement after provisioned"
    default n

config FP_FMDN_VALIDATOR_TEST
    bool "Enable optimize for EDDYSTONE test cases of Google Fast Pair Validator App"
    default n
    select FP_FMDN_PROVISION_EN_FP_ADV

config FP_BT_ID_NUM
    int "FP BT ID number"
    default 3 if FAST_PAIR_FMDN_DULT
    default 2

endif # ATM_GFPS
