# Copyright (c) 2024 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_TZ_MPC
	bool "Atmosic TrustZone Memory Protection Controller module"
	default y if TRUSTED_EXECUTION_SECURE && !MCUBOOT
