# Copyright (c) 2021-2026 Atmosic
# SPDX-License-Identifier: LicenseRef-Atmosic

config BOARD_ATMEVK_3430E_YQN_5
	select SOC_ATM34XX_5

# power manage the onboard stacked flash
config FLASH
	bool
	default y if PM
