# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic
#

config ATM_RRAM_ROM_PROT
	bool "Atmosic RRAM ROM Protect module"
	default y
	depends on DT_HAS_ATMOSIC_RRAM_CONTROLLER_ENABLED
