# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic
#

config ATM_RRAM_ROM_PROT
	bool "Atmosic RRAM ROM Protect module"
	select DEPRECATED
	help
	  This module is deprecated. Use nv_mem_prot module instead.
