# Copyright (c) 2024-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_RRAM_ROM_PROT
	bool "Atmosic RRAM ROM Protect module"
	default y
	depends on DT_HAS_ATMOSIC_RRAM_CONTROLLER_ENABLED
