# Copyright (c) 2025-2026 Atmosic
# SPDX-License-Identifier: LicenseRef-Atmosic

if HWINFO

config HWINFO_ATM
	bool "Atmosic device ID"
	default y
	select ATM_RESET
	help
	  Enable Atmosic hwinfo driver
	  get_device_id and get_device_eui64 require CONFIG_ATM_EUI

endif
