# Copyright (c) 2024-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_RF
	bool "Atmosic RF module"
	default y if ATM_RWLC
	default y if ENTROPY_ATM_TRNG

config MAX_TX_PWR
	int "Maximum TX power"
	depends on ATM_RF
	range -20 10
	default 0
	help
	    Configure the maximum transmit power (dBm) for both advertising and
	    connection.

config FORCE_TX_PWR
	int "Force TX power"
	default 255
	help
	    This setting forces a fixed transmit power. It is the highest-priority
		option and should be used for RF test purposes only.
	    The value 255 is reserved and indicates that forced TX power is disabled.
	    Use values in the range -20 to 10 (dBm) to enable forced TX power.
