# Copyright (c) 2025-2026 Atmosic
# SPDX-License-Identifier: LicenseRef-Atmosic

if SHIELD_MIKROE_BUZZ_2_CLICK

config PWM
	default y

config ATM_BUZZER
	default y

endif # SHIELD_MIKROE_BUZZ_2_CLICK
