# Copyright (c) 2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0


source "Kconfig.zephyr"

module = FMNA_TAG
module-str = fmna_tag
source "subsys/logging/Kconfig.template.log_config"

config FMNA_DEV_CUSTOM_BT_ADDR
	bool "Enable custom Bluetooth device address for testing or development purposes"

config FMNA_DEV_CUSTOM_BT_ADDR_VALUE
	string "Custom Bluetooth address (MAC format: XX:XX:XX:XX:XX:XX)"
	depends on FMNA_DEV_CUSTOM_BT_ADDR
	default "ED:15:48:87:6E:EF"

config FMNA_PRODUCT_DATA
	string "FMNA Product Data"
	default "DFECEFF1E1FF54DB"

config FMNA_ACCESSORY_CATEGORY
	int "FMNA Accessory Category"
	range 0 255
	default 129

config FMNA_ACCESSORY_CAPABILITY
	int "FMNA Accessory Capability Bit Mask"
	range 0 65535
	default 31
	help
	  Bit 0: Supports play sound
	  Bit 1: Supports motion detector UT
	  Bit 2: Supports serial number lookup by NFC
	  Bit 3: Supports serial number lookup by BLE
	  Bit 4: Supports firmware update service

config FMNA_BATTERY_TYPE
	int "FMNA Battery Type"
	range 0 255
	default 1
	help
	  0: Powered
	  1: Non-rechargeable battery
	  2: Rechargeable battery

config FMNA_PID
	int "FMNA Product ID"
	range 0 65535
	default 51966

config FMNA_MANUFACTURER_NAME
	string "FMNA Manufacturer Name"
	default "Osprey"

config FMNA_MODEL_NAME
	string "FMNA Model Name"
	default "Bike"

config FMNA_HARDWARE_VERSION
	string "FMNA Hardware Version"
	default "1"

config FMNA_VERSION_MAJOR
	int "FMNA Version Major"
	range 0 65535
	default 1

config FMNA_VERSION_MINOR
	int "FMNA Version Minor"
	range 0 65535
	default 0

config FMNA_VERSION_REVISION
	int "FMNA Version Revision"
	range 0 65535
	default 18
