# Copyright (c) 2025 Atmosic
# SPDX-License-Identifier: Apache-2.0

if SHIELD_MIKROE_PIR_CLICK

config ADC
	default y

config I2C
	default y

config SENSOR
	default y

config MCP3221
	default y

endif # SHIELD_MIKROE_PIR_CLICK
