# Copyright (c) 2024-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_RADIO_HAL_BLE_CS
	bool "Atmosic radio_hal_ble_cs module"
	depends on ATM_ATLC
	default y if ATM_BLE

config ATM_RF_DELAY_ONE_EIGHTH_NS
	int "RF delay with a unit of 1/8 ns"
	depends on ATM_RADIO_HAL_BLE_CS
	default $(dt_nodelabel_int_prop,atm_antenna,rf-delay-one-eighth-ns) if $(dt_nodelabel_enabled,atm_antenna)
	default 22
	range 0 255

config ATM_REF_PHS_CORR_SUPP
	bool "Atmosic reflector phase correction"
	depends on ATM_RADIO_HAL_BLE_CS
