# Copyright (c) 2024-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_DMA
	bool "Atmosic DMA module"
	depends on !SOC_SERIES_ATMX2
	default y if TRUSTED_EXECUTION_NONSECURE || MCUBOOT

if ATM_DMA

config ATM_DMA_MINIMAL
	bool "Minimal DMA driver"
	default y if MCUBOOT
	default y if !BT && !ATM_ATLC && !ENTROPY_ATM_TRNG && !I2S_ATM

config ATM_DMA_FIFO_RX
	bool "Enable RX DMA"

config ATM_DMA_RELOC_SRAM
	bool
	help
	  Relocate performance and power critical functions to SRAM, while
	  still satisfying early init requirements.

endif # ATM_DMA
