# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic

config ATM_ASM
	bool "BLE state machine library"
	default n
config ATM_ASM_MAX_ENTRY
	int "State Machine Max Entries."
	default 1
