# Copyright (c) 2024-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_SETTINGS
	bool "Proprietary settings subsystem library"
	select FLASH
	select FLASH_MAP
	select NVS
	select SETTINGS
	select ATM_NV_MEM_FLASH_PROT if DT_HAS_ATMOSIC_SEC_NV_MEM_FLASH_PROT_ENABLED

if ATM_SETTINGS

config ATM_SETTINGS_INIT_PRIORITY
	int "ATM_SETTINGS initialization priority"
	default 45

module = ATM_SETTINGS
module-str = atm_settings
source "subsys/logging/Kconfig.template.log_config"

endif # ATM_SETTINGS
