# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic
#

config ATM_RADIO_HAL_COMMON
	bool "Atmosic radio_hal_common module"
	default y
	depends on ATM_ATLC || DTOP_BYPASS
