# Copyright (c) 2024-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

rsource "*/Kconfig"

config ATM_PLF_DEBUG
	bool "Debugging for low level platform drivers"
	default y
	depends on PRINTK

config ATM_BUILD_CORE_C_FILES
	bool "Build core.c files if present. Only meant for internal debugging"
