/*
 * Copyright (c) 2025-2026 Atmosic
 *
 * SPDX-License-Identifier: LicenseRef-Atmosic
 */

/ {
	zephyr,user {
		io-channels = <&adc 1>;
	};
	aliases {
		tag-pwm = &pwm_buzzer0;
	};
};

&wdog0 {
	status = "okay";
};

&soc_off {
	status = "okay";
};

&cpu0 {
	cpu-power-states = <&idle &sleep &retain &hibernate &soc_off>;
};
