# Copyright (c) 2025-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic

menu "Atmosic Shell"

config ATM_SHELL
	bool "Enable Atmosic shell commands"
	select CRC
	select FLASH
	select SHELL
	help
	  Enable Atmosic shell commands.
endmenu

