/*
 * Copyright (c) 2025-2026 Atmosic
 *
 * SPDX-License-Identifier: LicenseRef-Atmosic
 */

/ {
	aliases {
		i2s-node0 = &i2s;
	};
};

&dma3 {
	interrupts = <71 4>;
};

i2s_tx: &i2s {
	status = "okay";
	sck-out-pin = <18>;
	ws-out-pin = <19>;
	sd-out-pin = <20>;
};
