# ATM SPI configuration options

# Copyright (c) 2021-2023 Atmosic
# SPDX-License-Identifier: Apache-2.0

menuconfig SPI_ATM
	bool "Atmosic SPI driver"
	default y
	depends on DT_HAS_ATMOSIC_ATM_SPI_ENABLED
	help
	  Enables the ATM SPI driver

if SPI_ATM

config SPI_ATM_WATCHDOG
	bool "Enable sw watchdog for SPI transactions"

config SPI_ATM_DMA
	bool "When possible, use DMA for SPI transfers"
	depends on ATM_DMA && !ATM_DMA_MINIMAL

endif # SPI_ATM
