# Copyright (c) 2024-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

if BT || ENTROPY_ATM_TRNG

choice ATM_WIRELESS_STACK_CHOICE
	prompt "BLE link layer wireless stack flavor"
	optional #TODO: Make ATMWSTK_PD50 default when deprecating CONFIG_ATMWSTK and CONFIG_ATMWSTKLIB.

config ATMWSTK_PD50
	bool "PD50 link controller"

config ATMWSTK_FULL
	bool "Full link controller"
	select USE_ATMWSTK if SOC_ATM33XX_5

endchoice

config USE_ATMWSTK
	bool "Use fixed BLE stack image"

config ATMWSTK
	string "Fixed BLE stack image flavor"
	default "LL"
	depends on USE_ATMWSTK

config ATMWSTKLIB
	string "BLE link layer library flavor"
	default "PD50"
	depends on !USE_ATMWSTK

config ATMWSTK_PATH
	string "path of BLE link stack image"
	default "${ZEPHYR_OPENAIR_MODULE_DIR}/modules/hal_atmosic/ATM33xx-5/drivers/ble"

endif
