# Copyright (c) 2024-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_BP_CLOCK
	bool "Atmosic Backplane Clock module"
	depends on SOC_FAMILY_ATM
	default y if (TRUSTED_EXECUTION_NONSECURE || ATM_NO_SPE) && (SOC_FLASH_ATM || BT || ATM_ATLC || DTOP_BYPASS || ENTROPY_ATM_TRNG || PM || ADC || ATM_SPI)
	default y if TRUSTED_EXECUTION_SECURE && !BOOTLOADER_MCUBOOT
