# Copyright (c) 2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

source "Kconfig.zephyr"

config BTN_ON_OFF
	bool "Power on/off device with Button"
	select HWINFO

config BTN_BATT_REPORT
	bool "Trigger Battery report with Button"
	select ADC
	select BATT_MODEL_COIN
	depends on BTN_ON_OFF

config RRSP_ADV_TIMEOUT_CS
	int "Advertising timeout time(cs)"
	range 0 360000
	default 0

config BTN_FACTORY_RESET
	bool "Factory reset with long press button for 10s in power on state"
	help
	  Long press button for 10 secs to trigger factory reset in power on
	  state. Pressing 2 secs would trigger power off key first and keep
	  pressing until 10 secs would trigger factory reset then enter off state.

config RRSP_LED_IND
	bool "Enable LED indication for state and button"
	select LED
	help
	  Power on: Green LED blinks 3 times
	  Power off: Red LED blinks 3 times
	  Pairing mode: Green blink -> Red blink every 5 secs
	  Operation mode: Green LED blinks every 20 secs
	  CS operation mode: Green LED blinks every 1 sec
	  Battery Status:
	    >3.0V 5 GREEN blinks
	    >2.9V 4 GREEN blinks
	    >2.8V 3 GREEN blinks
	    >2.6V 2 GREEN blinks
	    <= 2.6V single GREEN blink

config RRSP_BUZZER_IND
	bool "Enable Buzzer indication"
	select ATM_BUZZER
	select ATM_BUZZER_TIMEOUT

module = RRSP
module-str = rrsp
source "subsys/logging/Kconfig.template.log_config"

module = RRSP_MMI
module-str = rrsp_mmi
source "subsys/logging/Kconfig.template.log_config"

module = RRSP_BTN
module-str = rrsp_btn
source "subsys/logging/Kconfig.template.log_config"

module = RRSP_BAT
module-str = rrsp_bat
source "subsys/logging/Kconfig.template.log_config"

module = RRSP_LED
module-str = rrsp_led
source "subsys/logging/Kconfig.template.log_config"

module = RRSP_BUZZER
module-str = rrsp_buzzer
source "subsys/logging/Kconfig.template.log_config"
