# ATM I2C configuration options

# Copyright (c) 2021-2026 Atmosic
# SPDX-License-Identifier: LicenseRef-Atmosic

menuconfig I2C_ATM
	bool "Atmosic I2C driver"
	default y
	depends on DT_HAS_ATMOSIC_ATM_I2C_ENABLED
	select PINCTRL
	help
	  Enables the ATM I2C driver

if I2C_ATM

config I2C_ATM_TIMEOUT
	int "Timeout in microseconds for a transaction to complete"
	default 100000

endif # I2C_ATM

