# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic
#

config ATM_SEC_RESET
	bool "Atmosic Secure Reset module"
	default y if TRUSTED_EXECUTION_SECURE

if ATM_SEC_RESET

config ATM_SEC_RESET_FULL_API_TEST
	bool "Enable full reset API testing"
	depends on ZTEST
	help
	  Use only for testing.

endif
