# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic
#

config ATM_RADIO_HAL_BLE
	bool "Atmosic radio_hal_ble module"
	default y if ATM_BLE
	depends on ATM_ATLC

config ATM_LDO_MODE
	bool "Atmosic LDO MODE Enable"
	default y if ATM_ENA_LL_FEAT_CS

if ATM_RADIO_HAL_BLE

config ATM_RADIO_HAL_BLE_LOG_STATISTICS_MS
	int "Log BLE packet statistics at this frequency. 0 to disable"
	default 0

endif
