# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic

config ATM_TZ_PPC
	bool "Atmosic TrustZone Peripheral Protection Controller module"
	default y if TRUSTED_EXECUTION_SECURE
	depends on DT_HAS_ATMOSIC_SEC_TZ_ENABLED
