# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic

config ATM_BROWNOUT
	bool "Enable brownout support"
	depends on !$(dt_nodelabel_has_prop,pmu,batt-type) || \
		$(dt_nodelabel_int_prop,pmu,batt-type) != 2
