# Copyright (c) 2024-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_SHA2
	bool "Atmosic SHA2 module"
	default y if ATM_SHA2_HW || ATM_SHA2_HW_BOOTUTIL

config ATM_SHA2_HW
	bool "Hardware accelerator for SHA256 hash"
	depends on MBEDTLS_SHA256
	depends on !USERSPACE
	select MBEDTLS_USER_CONFIG_ENABLE

config ATM_SHA2_HW_BOOTUTIL
	bool "Hardware accelerator for SHA256 hash supporting bootutil API (only used by MCUBOOT)"

config ATM_SHA2_KEY_SIDELOAD
	bool "Enable key sideload for HMAC key"
	depends on TRUSTED_EXECUTION_SECURE
	depends on ATM_KEY_SIDELOAD

choice
    prompt "ATM SHA2 API mode"
    default ATM_SHA2_API_SINGLE
    help
      Select whether to use single or multiple context API.

config ATM_SHA2_API_SINGLE
    bool "Single context mode"

config ATM_SHA2_API_MULTI
    bool "Multiple context mode"
endchoice
