# Copyright (c) 2024-2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

config ATM_RADIO_HAL_BLE_CS
	bool "Atmosic radio_hal_ble_cs module"
	depends on SOC_ATM34XX_5
	default y if ATM_BLE

config ATM_RF_DELAY_ONE_EIGHTH_NS
	int "RF delay with a unit of 1/8 ns"
	depends on ATM_RADIO_HAL_BLE_CS
	default 18
	range 0 255
