# Copyright (c) 2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

choice ATM_WIRELESS_STACK_CHOICE
	prompt "BLE link layer wireless stack flavor of sysbuild"
	optional

config ATMWSTK_PD50
	bool "PD50 link controller"

config ATMWSTK_FULL
	bool "Full link controller"

config ATMWSTK_CPD200
	bool "CPD200 link controller"

endchoice

config DTS_EXTRA_SELECT_CPD200_HINT
	bool "In sysbuild, select CPD200 fixed image for platforms that need it"
