/*
 * Copyright (c) 2025-2026 Atmosic
 *
 * SPDX-License-Identifier: LicenseRef-Atmosic
 */

/*
 * Test overlay to disable led0 for testing beacon sample
 * without LED hardware
 */

&led0 {
	status = "disabled";
};
