# Copyright (c) 2024-2026 Atmosic
#
# SPDX-License-Identifier: LicenseRef-Atmosic
#

config ATM_SPE_FAULT_STORAGE
        bool "Atmosic SPE Secure Fault Storage module"
	default y if DT_HAS_ATMOSIC_SPE_FAULT_STORAGE_ENABLED
	depends on !MCUBOOT
