/*
 * Copyright (c) 2025-2026 Atmosic
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#define ATM_EPD_STORAGE_NODE_ID cece00F0
#define EPD_STORAGE_SIZE ATM_APP_FLASH_RESERVED_SIZE
#ifdef ATM_SLOT3_OFFSET
#define EPD_STORAGE_OFFSET (ATM_SLOT3_OFFSET + ATM_SLOT3_SIZE)
#else
#define EPD_STORAGE_OFFSET (FLASH_SIZE - EPD_STORAGE_SIZE)
#endif

#if ((EPD_STORAGE_OFFSET+EPD_STORAGE_SIZE) > FLASH_SIZE)
#error "EPD storage size does not fit in specified FLASH_SIZE"
#endif

&flash0 {
	partitions {
		compatible = "atmosic,tz-fixed-partitions", "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		epd_storage: partition@ATM_EPD_STORAGE_NODE_ID {
			label = "epd_storage";
			reg = <EPD_STORAGE_OFFSET EPD_STORAGE_SIZE>;
		};
	};
};

&wdog0 {
	status = "okay";
};

&arduino_i2c {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;

	ens210: ens210@43 {
		compatible = "ams,ens210";
		reg = <0x43>;
	};
};

&pinctrl {
	spi1_cs_default: spi1_cs_default {
		pinmux = <12 PINMUX_SPI1_CS>;
	};

	spi1_clk_default: spi1_clk_default {
		pinmux = <13 PINMUX_SPI1_CLK>;
	};

	spi1_mosi_default: spi1_mosi_default {
		pinmux = <14 PINMUX_SPI1_MOSI>;
	};

	spi1_miso_default: spi1_miso_default {
		pinmux = <15 PINMUX_SPI1_MISO>;
	};
};

&arduino_spi {
	pinctrl-0 = <&spi1_cs_default &spi1_clk_default &spi1_mosi_default &spi1_miso_default>;
	pinctrl-names = "default";
	status = "okay";
};

&pervasive_interface {
	dc-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
	reset-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
	busy-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
};

&pmu {
	vddio-type = <1>;
};
