# Copyright (c) 2025 Atmosic
#
# SPDX-License-Identifier: Apache-2.0

source "Kconfig.zephyr"

module = MULTIMODE_CONSUMER_TAG
module-str = multimode_consumer_tag
source "subsys/logging/Kconfig.template.log_config"

config FMNA_TAG
	bool "Enable FMNA Tag"
	select ATM_FMNA
	default y

config FHN_TAG
	bool "Enable FHN Tag"
	select ATM_GFP
	select ATM_GFP_MUTLIMODE_TAG if FMNA_TAG || STF_TAG
	default y

config STF_TAG
	bool "Enable STF Tag"
	default y

config FMNA_DEV_CUSTOM_BT_ADDR
	bool "Enable custom Bluetooth device address for testing or development purposes"

config FMNA_DEV_CUSTOM_BT_ADDR_VALUE
	string "Custom Bluetooth address (MAC format: XX:XX:XX:XX:XX:XX)"
	depends on FMNA_DEV_CUSTOM_BT_ADDR
	default "ED:15:48:87:6E:EF"

config FMNA_PRODUCT_DATA
	string "FMNA Product Data"
	default "DFECEFF1E1FF54DB"

config FMNA_ACCESSORY_CATEGORY
	int "FMNA Accessory Category"
	range 0 255
	default 129

config FMNA_ACCESSORY_CAPABILITY
	int "FMNA Accessory Capability Bit Mask"
	range 0 65535
	default 31
	help
	  Bit 0: Supports play sound
	  Bit 1: Supports motion detector UT
	  Bit 2: Supports serial number lookup by NFC
	  Bit 3: Supports serial number lookup by BLE
	  Bit 4: Supports firmware update service

config FMNA_BATTERY_TYPE
	int "FMNA Battery Type"
	range 0 255
	default 1
	help
	  0: Powered
	  1: Non-rechargeable battery
	  2: Rechargeable battery

config FMNA_PID
	int "FMNA Product ID"
	range 0 65535
	default 51966

config FMNA_MANUFACTURER_NAME
	string "FMNA Manufacturer Name"
	default "Osprey"

config FMNA_MODEL_NAME
	string "FMNA Model Name"
	default "Bike"

config FMNA_HARDWARE_VERSION
	string "FMNA Hardware Version"
	default "1"

config FMNA_VERSION_MAJOR
	int "FMNA Version Major"
	range 0 65535
	default 1

config FMNA_VERSION_MINOR
	int "FMNA Version Minor"
	range 0 65535
	default 0

config FMNA_VERSION_REVISION
	int "FMNA Version Revision"
	range 0 65535
	default 18

config TAG_BTN_POWER_CTRL
	bool "Enable button power on/off control"
	select PM
	help
	  Enable button control for power on/off functionality.
	  2s press to power on/off with LED indication.

config TAG_BTN_FACTORY_RESET
	bool "Enable factory reset with long press button"
	help
	  Long press button for 10 secs to trigger factory reset in power on
	  state. Pressing 2 secs would trigger power off key first and keep
	  pressing until 10 secs would trigger factory reset then enter off state.

config TAG_BTN_BATT_REPORT
	bool "Enable battery level detection with button"
	help
	  Quick press button 5 times to show battery level with LED indication.

config TAG_BTN_OTA_MODE
	bool "Enable OTA mode entry with button"
	default y if BOOTLOADER_MCUBOOT && MCUMGR_TRANSPORT_BT
	help
	  Quick press button 10 times to enter OTA mode.
	  System will reboot and start advertising with device name "Atmosic OTA".

config TAG_BTN_LOG_FMNA_MFI_TOKEN
	bool "Log MFI token with button short press 8 times"
	depends on FMNA_TAG
	default y
	help
	  Log MFI token with button short press 8 times.

config TAG_LED_IND
	bool "Enable LED indication for state and button"
	select LED
	help
	  Power on: Green LED blinks 3 times
	  Power off: Red LED blinks 3 times
	  Pairing mode: Green blink -> Red blink every 5 secs
	  Operation mode: Green LED blinks every 20 secs
	  Battery Status:
	    >90% 5 GREEN blinks
	    >60% 4 GREEN blinks
	    >30% 3 GREEN blinks
	    >10% 2 GREEN blinks
	    <=10% single GREEN blink

config TAG_SOC_OFF_TIMEOUT
	int "SOC off timeout in pairing mode (seconds)"
	range 0 300
	default 180
	help
	  Timeout in seconds to enter SOC_off mode when in pairing mode.
	  Set to 0 to disable timeout.

config TAG_AUDIO_FEEDBACK
	bool "Enable audio feedback for factory reset"
	select ATM_BUZZER
	help
	  Enable audio feedback when factory reset is triggered.

config ATM_STF_MULTI_MODE
	bool "Multi-Mode Samsung SmartThings support"
